@model IEnumerable<FootballApiProject.Models.DTO_s.PlayersDto.PlayerDto>

@{
    ViewData["Title"] = "Players";
}

<h2>Players</h2>
<div class="text-right mb-4">
    <a href="@Url.Action("Dashboard", "AdminDashboard")" class="btn btn-secondary">Back to Dashboard</a>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Player</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Position</th>
            <th>Nationality</th>
            <th>Team</th>
            <th>Picture</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Position</td>
                <td>@player.Nationality</td>
                <td>@player.TeamName</td>
                <td>
                    <img src="@player.ProfilePicturePath" alt="Player Picture" style="width:100px; height:auto;" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@player.PlayerId" class="btn btn-sm btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@player.PlayerId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@player.PlayerId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
