@model FootballApiProject.Models.DTO_s.PlayersDto.PlayerDto

<h2>@Model.Name</h2>

<div>
    <img src="@Model.ProfilePicturePath" alt="Player Picture" width="150" />
</div>
<p><strong>Position:</strong> @Model.Position</p>
<p><strong>Team:</strong> @Model.TeamName</p>
<p><strong>Nationality:</strong> @Model.Nationality</p>
<p><strong>Description:</strong> @Model.Description</p>