@model FootballApiProject.Models.DTO_s.LeaguesDto.LeagueDetailsDto

<h2>@Model.Name</h2>

<div>
    <img src="@Model.LogoPath" alt="League Logo" width="150" />
</div>
<p><strong>Country:</strong> @Model.Country</p>
<p><strong>Season:</strong> @Model.Season</p>

<h3>Teams</h3>
<ul>
    @foreach (var team in Model.Teams)
    {
        <li>@team.Name - @team.Coach</li>
    }
</ul>
